
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

.App{
  min-height:100vh;
  display:flex;
  background-image:url('./Wave.svg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
}